@import './variables';

.Footer {
    height: 100vh;
    width: 100%;
    display: flex;
}

.footer__first {
    width: 45%;
    height: 100%;
    background: $background-color;
    display: grid;
}

.footer__left-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.footer__left-text {
    max-width: 650px;
}

.footer__list-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 2em 0 0;
}

.footer__lists-wrapper {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    max-width: 550px;
    gap: 5em;

}

.footer__list {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: $white-font-color;
    overflow-y: auto;
    max-height: 480px;
}

.footer__list-item {
    list-style: none;
    font-size: 1em;
    margin: 1em 0;
}

.footer__list-item-name {
    position: relative;
    height: 100%;
    padding: 0.2em 0 0.2em 0;
    font-size: 1em;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    &::after {
        height: 2px;
        background: $accent-color;
        content: "";
        width: 0%;
        position: absolute;
        transition-duration: $animation-speed;
        left: 0;
        bottom: 0;
    }

    &:hover::after {
        height: 2px;
        background: $accent-color;
        content: "";
        width: 80%;
        position: absolute;
        left: 0;
        bottom: 0;
        transition-duration: $animation-speed;
    }
}

.footer__list-item-name.active {
    position: relative;
    height: 90%;
    font-size: 1em;
    padding: 0.2em 0 0.2em 0;
    cursor: pointer;
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
    &::after {
        height: 2px;
        background: $accent-color;
        content: "";
        width: 80%;
        position: absolute;
        left: 0;
        bottom: 0;
        transition-duration: $animation-speed;
    }
}

.footer__second {
    width: 55%;
    height: 100%;
    background: url(../imgs/Background-Website_Blur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__textContainer {
    padding-bottom: 0;
}

.footer__content-wrapper {
    width: 80%;
    height: 80%;
    padding: 3em;
    backdrop-filter: blur(50px) brightness(80%);
    border-radius: 4em;
}

.footer__content {
    height: 100%;
    width: 100%;
    padding-right: 1em;
    overflow-y: auto;
    font-size: 1em;
}

.footer__content::-webkit-scrollbar, .footer__list::-webkit-scrollbar {
    width: 0.3em;
}

.footer__content::-webkit-scrollbar-track, .footer__list::-webkit-scrollbar-track {
    background: rgba($color: hsl(0, 0%, 10%), $alpha: 0.6);
    border-radius: 100px;
}

.footer__content::-webkit-scrollbar-thumb, .footer__list::-webkit-scrollbar-thumb {
    background: rgba($color: hsl(0, 0%, 20%), $alpha: 0.4);
    border-radius: 100px;
    border: 2px solid rgba($color: hsl(0, 0%, 10%), $alpha: 0.2);
}

.backdrop__grayscale {
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 300px) {
    .Footer {
        display: grid;
        grid-auto-rows: 50%;
        height: 200vh;
        font-size: 0.65em;
    }

    .footer__first {
        grid-auto-rows: 40%;
        width: 100%;
    }

    .footer__second {
        font-size: 0.5em;
        width: 100%;
    }

    .footer__left-wrapper {
        font-size: 1em;
    }

    .footer__lists-wrapper {
        font-size: .7em;
        gap: 2em;
        max-width: 230px;
    }

    .footer__content {
        font-size: 1em;
        height: 85%;
    }

    .footer__content-wrapper {
        height: 90%;
    }

    .footer__list {
        max-height: 260px;
    }
}

@media only screen and (min-width: 300px) {
    .Footer {
        display: grid;
        grid-auto-rows: 50%;
        height: 200vh;
        font-size: 0.65em;
    }

    .footer__first {
        grid-auto-rows: 40%;
        width: 100%;
    }

    .footer__second {
        font-size: 0.5em;
        width: 100%;
    }

    .footer__left-wrapper {
        font-size: 1em;
    }

    .footer__lists-wrapper {
        font-size: .65em;
        gap: 2em;
        max-width: 230px;
    }

    .footer__content {
        font-size: 1em;
        height: 80%;
    }

    .footer__content-wrapper {
        height: 90%;
    }

    .footer__list {
        max-height: 260px;
    }
}

@media only screen and (min-width: 375px) {
    .Footer {
        display: grid;
        grid-auto-rows: 50%;
        height: 200vh;
        font-size: 0.8em;
    }

    .footer__lists-wrapper {
        max-width: 270px;
    }

    .footer__content {
        height: 85%;
    }

    .footer__list {
        max-height: 350px;
    }
}

@media only screen and (min-width: 400px) {
    .Footer {
        display: grid;
        grid-auto-rows: 50%;
        height: 200vh;
    }

    .footer__lists-wrapper {
        max-width: 320px;
    }
}

@media (min-width: 425px) {
    .Footer {
        font-size: 0.9em;
    }
}

@media (min-width: 600px) {
    .Footer {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 768px) {
    .Footer {
        display: grid;
        grid-auto-rows: 50%;
        height: 200vh;
    }

    .footer__first {
        grid-auto-rows: 50%;
    }

    .footer__lists-wrapper {
        max-width: 450px;
    }

    .footer__content {
        height: 100%;
    }

    .footer__content-wrapper {
        height: 90%;
        width: 70%;
    }

    .footer__list {
        max-height: 480px;
    }
}

@media only screen and (min-width: 1024px) {
    .Footer {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1440px) {
    .Footer {
        display: flex;
        height: 93vh;
    }

    .footer__first {
        grid-auto-rows: 45%;
        width: 35%;
    }

    .footer__left-wrapper {
        padding: 3em 1em 0;
    }

    .footer__second {
        font-size: 0.6em;
        width: 65%;
    }

    .footer__lists-wrapper {
        max-width: 450px;
        max-height: 550px;
        gap: 4em;
    }

    .footer__list {
        max-height: 550px;
    }

    .footer__content-wrapper {
        height: 85%;
        width: 85%;
    }
}

@media only screen and (min-width: 2000px) {
    .footer__lists-wrapper {
        max-width: 500px;
    }
}