@import './variables';

.Start {
    height: 100vh;
    width: 100%;
    background: url(../imgs/Background-Website.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start__grid {
    display: grid;
    grid-auto-rows: 50%;
    height: 100%;
}

.start__second {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.logo {
    background: url(../imgs/tabteam-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.start__first {
    display: flex;
    align-items: center;
}

.start__monitor {
    background: url(../imgs/monitor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 85%;
    height: 100%;
}

.start__socials {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 1em;
}
  
.start__socials-wrapper {
    margin: 0;
    padding: 1em 1em;
    display: grid;
    gap: 2em;
    position: relative;
    &::after {
      position: absolute;
      right: 0;
      height: 100%;
      width: 0.1em;
      content: '';
      background: $highlighted-color;
      border-radius: 100px;
    }
}
  
.start__socials-icon {
    list-style: none;
    aspect-ratio: 1/1;
}
  
.facebook {
    background: url(../imgs/facebook-lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}
  
.facebook.active {
    background: url(../imgs/facebook-filled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.instagram {
    background: url(../imgs/instagram-lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.instagram.active {
    background: url(../imgs/instagram-filled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.linkedin {
    background: url(../imgs/linkedin-in-lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.linkedin.active {
    background: url(../imgs/linkedin-in-filled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.discord {
    background: url(../imgs/discord-lines.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

.discord.active {
    background: url(../imgs/discord-filled.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: $animation-speed;
}

@media only screen and (max-width: 375px) {
    .Start {
        font-size: 0.65em;
    }

    .logo-container {
        height: 25px;
        top: 30px;
    }

    .start__second {
        align-items: baseline;
    }

    .start__first {
        justify-content: center;
        align-items: flex-end;
    }

    .start__monitor {
        width: 70%;
        height: 85%;
    }

    .start__socials {
        height: 50%;
    }

    .start__socials-icon {
        height: 35px;
    }
}

@media only screen and (min-width: 375px) {
    .Start {
        font-size: 0.8em;
    }

    .logo-container {
        height: 30px;
        top: 30px;
    }

    .start__first {
        justify-content: center;
        align-items: flex-end;
    }

    .start__monitor {
        width: 70%;
        height: 85%;
    }

    .start__socials {
        height: 50%;
    }

    .start__socials-icon {
        height: 35px;
    }
}

@media only screen and (min-width: 425px) {
    .start__first {
        align-items: flex-end;
    }

    .start__monitor {
        height: 85%;
    }

    .Start {
        font-size: 0.9em;
    }

    .logo-container {
        height: 35px;
    }
}

@media (min-width: 500px) {
    .start__socials-icon {
        height: 40px;
    }
}

@media only screen and (min-width: 600px) {
    .Start {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 768px) {
    .start__second {
        display: flex;
        justify-content: center;
    }

    

    .logo-container {
        height: 45px;
    }
}

@media only screen and (min-width: 1024px) {
    .Start {
        font-size: 1.5em;
    }
    
    .start__socials {
        height: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .start__grid {
        display: flex;
        position: relative;
        align-items: center;
    }

    .start__second {
        position: absolute;
        left: 0;
        width: 47%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 90%;
    }

    .start__first {
        width: 53%;
        height: 100%;
        position: absolute;
        right: 0;
        align-items: center;
        justify-content: flex-start;
    }

    .start__monitor {
        width: 80%;
    }

    .start__textContainer {
        font-size: 1.2em;
    }

    .logo-container {
        height: 60px;
        top: 60px;
    }
}

@media only screen and (min-width: 2000px) {
    
}